#botonGuardar{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity)) !important;
    --tw-bg-opacity: 1;
    background-color: rgb(14 159 110/var(--tw-bg-opacity)) !important;
}
